openapi: 3.0.3
info:
  title: Freelo API
  description: |
    API documentation for [Freelo.io](https://www.freelo.io) - Project Management Tool.
    
    ## Request Format
    All requests point to URL that begins with `https://api.freelo.io/v1/`.
    Each request must include a `User-Agent` HTTP header.
    
    ### Example: Projects List
    ```bash
    curl -u your@email.tld:API_KEY -H 'User-Agent: Your_App_Id (email@company.tld)' \
        https://api.freelo.io/v1/projects
    ```
    
    ## Response Format
    The API only supports JSON format in UTF-8 encoding.
    
    ## Authentication
    Authentication is done using HTTP Basic Authentication. Use your email as username and API key as password.
    You can find the API key in [settings](https://app.freelo.io/profil/nastaveni).
    
    ## Rate Limiting
    The API enforces per-user rate limits that may change over time as our infrastructure capacity grows.
    Do not hardcode rate limits on the client side. Instead, handle `429 Too Many Requests` responses by backing off and retrying after a delay.
    
    ## Currencies Format
    All currency amounts must be strings with exactly 2 decimal places multiplied by 100.
    
    Supported currencies: CZK, EUR, USD
    
    Examples:
    - `1,000.25` = `"100025"`
    - `1,000` = `"100000"`
    - `1` = `"100"`
    
    ## Pagination
    Pages are set via GET parameter `p` starting from 0.
    
    ## Ordering
    Use `order_by` and `order` (asc/desc) parameters where supported.

  version: "1.0.0"
  contact:
    name: Freelo Support
    url: https://www.freelo.io

servers:
  - url: "https://api.freelo.io/v1"
    description: "Production server"

security:
  - basicAuth: []

tags:
  - name: Projects
    description: Project management operations
  - name: Project Labels
    description: Project label management
  - name: Pinned Items
    description: Pinned items in projects
  - name: Tasklists
    description: Tasklist operations
  - name: Tasks
    description: Task management
  - name: Subtasks
    description: Subtask operations
  - name: Task Labels
    description: Task label management
  - name: Comments
    description: Comment operations
  - name: Time Tracking
    description: Time tracking operations
  - name: Work Reports
    description: Work report management
  - name: Invoicing
    description: Invoice operations
  - name: Users
    description: User management
  - name: Notifications
    description: Notification operations
  - name: Events
    description: Event operations
  - name: Files
    description: File operations
  - name: States
    description: State definitions
  - name: Custom Fields
    description: Custom field management
  - name: Notes
    description: Note operations
  - name: Search
    description: Search operations
paths:
  # ==================== USERS ====================
  /users/me:
    get:
      tags:
        - Users
      summary: Authentication health check
      description: |
        Verifies that the provided credentials are valid.
        Returns 200 with the authenticated user's information.
        Returns 401 when credentials are invalid or missing.
      operationId: getUsersMe
      responses:
        "200":
          description: Authentication is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: ID of the authenticated user
                        example: 12345
                    required:
                      - id
                required:
                  - result
                  - user
        "401":
          description: Invalid or missing credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string

  # ==================== PROJECTS ====================
  /projects:
    get:
      tags:
        - Projects
      summary: Get own active projects
      description: |
        Returns active projects **owned** by the authenticated user (not projects they were only invited to), each with its active tasklists eagerly loaded.

        **Use cases:**
        - Primary project picker in dashboards / onboarding — show projects the user owns and manages
        - Populating a "my projects" widget without paging (this endpoint is **not** paginated)
        - Bulk tooling that needs owner-scoped projects before branching into tasklists

        **Behavior notes:**
        - Scope is owner-only. Projects where the user is only a worker / guest are **not** returned — use `GET /all-projects` or `GET /invited-projects` for those.
        - Filters only projects in the **active** state (state_id=1). Archived / template projects are excluded — use `/archived-projects` or `/template-projects`.
        - Response is a flat array (not paginated). For large accounts consider `GET /all-projects` with paging.
        - Tasklists embedded in each project also include only active tasklists.
      operationId: getProjects
      parameters:
        - name: order_by
          in: query
          description: Order column
          schema:
            type: string
            enum: [name, date_add, date_edited_at]
            default: name
        - name: order
          in: query
          description: Order direction
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectWithTasklists'
    post:
      tags:
        - Projects
      summary: Create project
      description: |
        Creates a new active project. The authenticated user becomes the project **author** automatically. If `project_owner_id` is omitted, the author is also the owner; otherwise the referenced user must already exist.

        **Use cases:**
        - Provisioning a new project from an integration (e.g. after a deal closes in CRM)
        - Bulk-creating projects when onboarding a client
        - Delegating ownership: the API caller creates the project and immediately assigns a different owner via `project_owner_id`

        **Side effects:**
        - Business-account captains are auto-invited as commanders/workers (via `BusinessAccountCaptainProjectInviter`).
        - Emits `project_owner_assigner` and `project_commander_promote` events (webhooks, notifications).
        - If `project_owner_id` does not map to an owner-eligible user, the request fails with `400` (`project_owner_id X is not valid`) — the business rule is enforced by `IProjectCreator`.
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - currency_iso
              properties:
                name:
                  type: string
                  example: "Vegetable growing"
                currency_iso:
                  type: string
                  enum: [CZK, EUR, USD]
                  description: Currency used for budgets and invoicing in this project. Cannot be changed afterwards.
                project_owner_id:
                  type: integer
                  description: |
                    ID of user assigned as owner. Must be an owner-eligible user in the caller's account.
                    If omitted, the authenticated caller becomes the owner.
      responses:
        '200':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectBasic'

  /all-projects:
    get:
      tags:
        - Projects
      summary: Get all accessible projects (owned + invited)
      description: |
        Paginated collection of all projects the authenticated user can see — both owned and those they were invited to, filtered by state and tag.

        **Use cases:**
        - Primary project list for end-user UI where both owned and invited projects are shown
        - Backfills / syncing to external systems that need every project regardless of ownership
        - Narrow search by state (active / archived / template) combined with tag and owner filters

        **Behavior notes:**
        - Pagination is **required** for large accounts — use `p` parameter; page size is fixed server-side.
        - `states_ids[]` accepts any combination of `1=active`, `2=archived`, `3=template`. When omitted, the server applies a default (typically active only) — always pass it explicitly if you need archived/templates.
        - `tags[]` matches any of the specified tags; pass the literal string `"without"` to get projects **without** any tag (this is a magic value, not a real tag name).
        - `users_ids[]` filters by project **owner** only, not by workers.
        - Default ordering is `date_add asc`.
      operationId: getAllProjects
      parameters:
        - name: order_by
          in: query
          schema:
            type: string
            enum: [name, date_add, date_edited_at]
            default: date_add
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: tags[]
          in: query
          description: Filter by tags. Use "without" to get projects without tags.
          schema:
            type: array
            items:
              type: string
        - name: states_ids[]
          in: query
          description: "Project states: 1=active, 2=archived, 3=template"
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3]
        - name: users_ids[]
          in: query
          description: Filter by project owner IDs
          schema:
            type: array
            items:
              type: integer
        - name: created_in_range[date_from]
          in: query
          schema:
            type: string
            format: date
        - name: created_in_range[date_to]
          in: query
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          projects:
                            type: array
                            items:
                              $ref: '#/components/schemas/ProjectFull'

  /invited-projects:
    get:
      tags:
        - Projects
      summary: Get projects where I am a worker (not owner)
      description: |
        Paginated list of active projects where the authenticated user is a worker — i.e. they were **invited** to the project, not its owner. Each project includes its active tasklists.

        **Use cases:**
        - "Projects shared with me" view, separating them from my own projects
        - Freelancer dashboards that show only client work
        - Cross-account collaboration views

        **Behavior notes:**
        - Returns only **active** projects. Archived invited projects do not appear here.
        - Ordering and filtering parameters are **not** accepted — only pagination.
      operationId: getInvitedProjects
      parameters:
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          invited_projects:
                            type: array
                            items:
                              $ref: '#/components/schemas/ProjectWithTasklists'

  /archived-projects:
    get:
      tags:
        - Projects
      summary: Get archived projects
      description: |
        Paginated list of projects the authenticated user can see that are in the **archived** state.

        **Use cases:**
        - Archive browser UI (read-only view of finished work)
        - Exporting historical project data for reporting / accounting
        - Restoring an archived project — find its ID here, then call `POST /project/{id}/activate`

        **Behavior notes:**
        - Includes both owned and invited archived projects.
        - Each project comes with its tasklists embedded (active and archived tasklists alike — the project's archived state does not restrict the embedded tasklists).
        - Only pagination parameters are accepted.
      operationId: getArchivedProjects
      parameters:
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          archived_projects:
                            type: array
                            items:
                              $ref: '#/components/schemas/ProjectWithTasklists'

  /template-projects:
    get:
      tags:
        - Projects
      summary: Get project templates
      description: |
        Paginated list of **project templates** (projects in state 3 — template) the caller can use as a source for new projects via `POST /project/create-from-template/{template_id}`.

        **Use cases:**
        - Populating a "create from template" picker in a client UI
        - Syncing templates to an external project-provisioning tool
        - Reporting on which template tags are in use

        **Behavior notes:**
        - The returned templates can be picked for copying regardless of whether the caller owns them, as long as they have view access.
        - `users_ids[]` filters by template **owner**, not by invitees.
        - Default order: `date_add asc`.
      operationId: getTemplateProjects
      parameters:
        - name: order_by
          in: query
          schema:
            type: string
            enum: [name, date_add, date_edited_at]
            default: date_add
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: tags[]
          in: query
          schema:
            type: array
            items:
              type: string
        - name: users_ids[]
          in: query
          schema:
            type: array
            items:
              type: integer
        - name: created_in_range[date_from]
          in: query
          schema:
            type: string
            format: date
        - name: created_in_range[date_to]
          in: query
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          template_projects:
                            type: array
                            items:
                              $ref: '#/components/schemas/ProjectWithTasklists'

  /user/{user_id}/all-projects:
    get:
      tags:
        - Projects
      summary: Get projects of another user
      description: |
        Paginated list of projects where the given `user_id` is the **owner**, intersected with what the caller has permission to see.

        **Use cases:**
        - Viewing teammate's workload before reassigning tasks
        - HR / PM views showing all projects a specific person owns
        - Filtering projects by owner in cross-functional reporting

        **Behavior notes:**
        - The caller sees only projects they themselves have access to — if the target user owns projects the caller can't see, they are silently omitted.
        - `states_ids[]` combines states (1=active, 2=archived, 3=template). Omitting returns the server default.
        - Default order: `date_add desc` (newest first).
      operationId: getUserProjects
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
        - name: states_ids[]
          in: query
          description: "States: 1=active, 2=archived, 3=template"
          schema:
            type: array
            items:
              type: integer
              enum: [1, 2, 3]
        - name: order_by
          in: query
          schema:
            type: string
            enum: [name, date_add, date_edited_at]
            default: date_add
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          projects:
                            type: array
                            items:
                              $ref: '#/components/schemas/ProjectFull'

  /project/{project_id}:
    get:
      tags:
        - Projects
      summary: Get project detail
      description: |
        Returns full detail of a single project — metadata, tasklists (filtered by caller's ACL), date-edited timestamp, the caller's hourly rate on the project, and current budget / spent totals.

        **Use cases:**
        - Opening the project detail page in a UI
        - Pulling budget vs. spent numbers for reporting
        - Retrieving the list of tasklists the caller can see before drilling into tasks

        **Behavior notes:**
        - Embedded tasklists respect the caller's ACL (tasklists the caller is not authorized for are filtered out).
        - Budget / spent numbers are computed on the fly for the **calling** user's view — different users may see different totals depending on their hourly rates and worker relationships.
        - Works for any project state (active, archived, template) as long as the caller has access.
      operationId: getProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetail'
    delete:
      tags:
        - Projects
      summary: Delete project (soft-delete)
      description: |
        Marks the project as deleted. The project disappears from all listings, but is retained in the database.

        **Use cases:**
        - Removing a test / mistakenly-created project
        - Permanent cleanup when archiving is not enough (e.g. client contract terminated)

        **Behavior notes:**
        - This is a **soft-delete** — the project row stays, but `deletedAt` is set. `POST /project/{id}/activate` restores it (the activate endpoint un-archives and un-deletes).
        - Side effects: cascades to tasks/tasklists that inherit the deletion; running timetrackings may be stopped server-side; webhooks fire.
        - Requires the caller to have project delete permissions (usually owner / commander).
      operationId: deleteProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project/{project_id}/workers:
    get:
      tags:
        - Projects
      summary: Get project workers
      description: |
        Paginated list of all users (workers + owner + guests) assigned to the given project.

        **Use cases:**
        - Worker picker when assigning tasks / time estimates / work reports
        - Validating that an email is already a member before calling `POST /users/manage-workers`
        - Audit / export of project membership

        **Behavior notes:**
        - Returns basic user data only — it is **not** filtered by ACL-tasklist membership (a worker assigned only to some tasklists still appears in the full list).
        - Deleted (former) workers do not appear.
      operationId: getProjectWorkers
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          workers:
                            type: array
                            items:
                              $ref: '#/components/schemas/UserBasic'

  /project/{project_id}/archive:
    post:
      tags:
        - Projects
      summary: Archive project
      description: |
        Moves an active project into the **archived** state (state_id=2). Archived projects are hidden from the default lists but are still readable and can be reactivated via `POST /project/{id}/activate`.

        **Use cases:**
        - Completing a client engagement and removing it from active views
        - Freezing a project at year-end without losing data

        **Behavior notes:**
        - No request body is expected.
        - Archiving is idempotent: calling it on an already archived project succeeds (200) without side effects.
        - Archiving **does not** stop running timetrackings automatically — check timetracking state separately if needed.
        - Requires project-admin level permission (owner / commander).
      operationId: archiveProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project/{project_id}/activate:
    post:
      tags:
        - Projects
      summary: Activate (unarchive / undelete) project
      description: |
        Restores a project into the **active** state. Works as a single entry point for both "unarchive" and "undelete".

        **Use cases:**
        - Re-opening an archived project for follow-up work
        - Recovering a project that was soft-deleted by mistake

        **Behavior notes (non-obvious):**
        - The endpoint inspects the project's current state and performs the appropriate transition: if archived → unarchive; if deleted → undelete; otherwise no-op returning 200.
        - Can fail with `PlanExceededException` — restoring a project counts against the caller's plan limits and may be refused if the plan is already at its project cap.
        - Requires project-admin permission.
      operationId: activateProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project/{project_id}/remove-workers/by-ids:
    post:
      tags:
        - Projects
      summary: Remove workers from project by user IDs
      description: |
        Removes one or more users (by their internal user IDs) from the project's worker list.

        **Use cases:**
        - Off-boarding teammates from a specific project
        - Cleaning up external collaborators after an engagement ends
        - Batch deprovisioning as part of automated HR flows

        **Behavior notes:**
        - All given IDs are checked at once by the remove-workers ACL checker — if the caller lacks rights to remove any single user, the whole request fails (no partial removal).
        - The project **owner** cannot be removed via this endpoint; attempting to do so results in an error.
        - Removing a user also cleans up their task assignments and ACL tasklists in this project.
      operationId: removeProjectWorkersByIds
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - users_ids
              properties:
                users_ids:
                  type: array
                  items:
                    type: integer
                  example: [305, 150, 820]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project/{project_id}/remove-workers/by-emails:
    post:
      tags:
        - Projects
      summary: Remove workers from project by email
      description: |
        Same behavior as `/remove-workers/by-ids`, but the caller references workers by their email instead of user ID. Useful when IDs are not available (e.g. integration receives emails from CRM).

        **Use cases:**
        - Removing invited externals by their email address
        - Integrations that sync membership with email-based identity sources

        **Behavior notes:**
        - Every email **must** belong to a user currently in the project — otherwise the request fails (pre-check via `IProjectWorkersByEmailChecker`). No partial success.
        - Emails are resolved to user IDs server-side and then the ID-based ACL check is run. Same "owner cannot be removed" rule applies.
      operationId: removeProjectWorkersByEmails
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - users_emails
              properties:
                users_emails:
                  type: array
                  items:
                    type: string
                    format: email
                  example: ["user1@freelo.io", "user2@freelo.io"]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project/create-from-template/{template_id}:
    post:
      tags:
        - Projects
      summary: Create project from a template
      description: |
        Clones a project template (state_id=3) into a brand-new active project, copying its tasklists, tasks, subtasks, and optionally shifting floating due-dates based on `preset_date_from`.

        **Use cases:**
        - Spinning up a standardized client-onboarding project
        - Mass-provisioning projects from a shared blueprint
        - Kick-starting recurring engagements

        **Behavior notes (non-obvious):**
        - `currency_iso` is optional — if omitted, the server derives it from the caller's locale (CZ → CZK, EN → USD, etc.) via `LanguageCurrencyMapper`. Pass it explicitly if you need a predictable result.
        - `project_owner_id` defaults to the authenticated caller if not provided. The user must be owner-eligible; otherwise `400 InvalidArgumentException`.
        - `preset_date_from` shifts any "relative" due dates defined in the template (e.g. "+3 days") to absolute dates anchored at this value.
        - `users_ids` is a list of users **from the template's member list** you want to carry over as invitees; it is validated against the template's membership, not arbitrary user IDs.
        - `name` defaults to the template's name (often with a suffix applied in front-end flows) — pass it to override.
      operationId: createProjectFromTemplate
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                project_owner_id:
                  type: integer
                currency_iso:
                  type: string
                  enum: [CZK, EUR, USD]
                preset_date_from:
                  type: string
                  format: date
                  description: Date to set floating due dates in templates
                general_settings:
                  type: object
                  properties:
                    layout:
                      type: string
                      enum: [rows, kanban]
                      default: rows
                users_ids:
                  type: array
                  items:
                    type: integer
                  description: Users from template to invite
      responses:
        '200':
          description: Project created from template
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  owner:
                    $ref: '#/components/schemas/UserBasic'
                  currency_iso:
                    type: string

  # ==================== PROJECT LABELS ====================
  /project-labels/find-available:
    get:
      tags:
        - Project Labels
      summary: Get project labels usable by caller
      description: |
        Returns all project labels (tags) the authenticated user can assign — their own private labels plus public labels from projects they participate in.

        **Use cases:**
        - Populating a label picker before calling `/project-labels/add-to-project/{projectId}`
        - Showing the caller which labels already exist so they don't create a duplicate

        **Behavior notes:**
        - Response field is `label` (singular) — it is an array. The tag's `tag` entity property is exposed as `name` in API shape (the TagNameKeyReplacer maps it).
      operationId: findAvailableProjectLabels
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectLabel'

  /project-labels/{labelId}:
    post:
      tags:
        - Project Labels
      summary: Edit project label
      description: |
        Updates an existing project label identified by path parameter `labelId`. Renames it, changes its color, and/or toggles private/public visibility.

        **Use cases:**
        - Recoloring / renaming a label across all projects that use it
        - Flipping a label from private (owner-only) to public once a team is ready to share it

        **Behavior notes:**
        - The label is global — the edit propagates to **every project** where the label is attached.
        - ACL: only the label's owner (or a user passing the `IProjectTagAclChecker`) may edit private labels. Editing public labels requires the relevant project-manager permission.
        - All fields in the body are optional; omit a field to leave it unchanged.
      operationId: editProjectLabel
      parameters:
        - name: labelId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                  pattern: '^#[0-9a-fA-F]{6}$'
                is_private:
                  type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags:
        - Project Labels
      summary: Delete project label (global)
      description: |
        Removes the label entirely — it is detached from all projects it was attached to and the tag entity itself is deleted.

        **Use cases:**
        - Cleaning up unused / obsolete labels
        - Consolidating duplicates (delete one, re-attach projects to the other)

        **Behavior notes:**
        - This is a **hard delete of the global label**, not a "detach from one project". To just unlink a label from a single project use `POST /project-labels/remove-from-project/{projectId}`.
        - ACL applies: only the owner of a private label (or a user passing `IProjectTagAclChecker`) can delete it.
      operationId: deleteProjectLabel
      parameters:
        - name: labelId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project-labels/add-to-project/{projectId}:
    post:
      tags:
        - Project Labels
      summary: Attach label to project (fetch-or-create)
      description: |
        Attaches a project label to the given project. The request body selects the label in **one of two mutually exclusive modes**:

        1. **By ID** — pass `id` of an existing label. In this mode `name`, `color` and `is_private` are **ignored** (even if sent).
        2. **By data** — pass `name` + `is_private` (and optionally `color`). The server looks up an existing label owned by the correct user with the same data and re-uses it; if none exists, it **creates a new label** and attaches it.

        > Non-standard behavior: the presence of `id` completely overrides the other fields. Sending `{id: 123, name: "typo", color: "#ff0000"}` will attach label 123 and silently ignore the name/color. If you want a new label with a specific name, omit `id`.

        **Use cases:**
        - Organizing projects by client / status / priority using a shared label
        - Bulk-tagging projects during an import

        **Behavior notes:**
        - Attaching a label that is already on the project swallows the `UniqueConstraintViolationException` and returns 200 (idempotent).
        - ACL: private labels can only be attached by their owner; public labels require the caller to be a project manager of the target project.
      operationId: addProjectLabelToProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                Provide **either** `id` (to reference an existing label) **or** `name` + `is_private` (to fetch-or-create). See endpoint description — `id` takes precedence and other fields are ignored when present.
              properties:
                name:
                  type: string
                  description: Label name. Used only when `id` is omitted.
                color:
                  type: string
                  description: Hex color or named color from the server enum. Used only when `id` is omitted.
                is_private:
                  type: boolean
                  description: Whether the label is private to its owner. Used only when `id` is omitted. Required in data mode.
                id:
                  type: integer
                  description: ID of an existing label. When present, `name`/`color`/`is_private` are ignored.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /project-labels/remove-from-project/{projectId}:
    post:
      tags:
        - Project Labels
      summary: Detach label from project
      description: |
        Detaches a label from a single project. The label itself continues to exist and remains attached to other projects.

        **Use cases:**
        - Re-categorizing a project without deleting the label from the workspace
        - Bulk cleanup of mis-applied labels

        **Behavior notes (non-obvious):**
        - Request body follows the same two-mode rule as `/add-to-project`: if `id` is present, `name`/`color`/`is_private` are **ignored**; otherwise the server looks the label up by data (name + is_private + owner).
        - In data mode (no `id`), the label is matched by owner + data; in ID mode, any referenced label is targeted.
        - If the label is not attached to the project, `ITagForRemoveFromProjectFetcher` throws `NotFoundException` → HTTP 404.
      operationId: removeProjectLabelFromProject
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                Same mutually-exclusive ID-or-data selection rule as `/add-to-project`: when `id` is present, name/color/is_private are ignored.
              properties:
                name:
                  type: string
                color:
                  type: string
                is_private:
                  type: boolean
                id:
                  type: integer
                  description: ID of the label to detach. When present, `name`/`color`/`is_private` are ignored.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== PINNED ITEMS ====================
  /project/{project_id}/pinned-items:
    get:
      tags:
        - Pinned Items
      summary: Get pinned items of project
      description: |
        Returns all pinned items (pinned links, tasks, documents, files, project-links, directories) attached to the given project, filtered by the caller's ACL.

        **Use cases:**
        - Rendering the "pinned" sidebar of a project detail page
        - Exporting quick-access resources for reporting / documentation

        **Behavior notes:**
        - The result is an ACL-filtered list — pinned items whose target (a file, a task, a document) the caller cannot see are omitted silently.
        - The response is a flat array, not paginated.
      operationId: getPinnedItems
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PinnedItem'
    post:
      tags:
        - Pinned Items
      summary: Pin an external link to project
      description: |
        Pins a user-supplied external URL to the project. The returned item is either the newly created pin or — if an equivalent internal pin (same task / document / file / project-link / directory) already exists — the pre-existing one.

        **Use cases:**
        - Quick-attach of reference material (spec doc, drive link) to a project
        - Programmatic pinning from integrations (e.g. Slack → Freelo bot)

        **Behavior notes (non-obvious):**
        - The endpoint accepts an **external link** (schema shown here), but in the internal code path it is a dispatcher: if the URL is recognized as an internal Freelo resource (task, document, file, project-link, project-directory), the PinnedItemCreator performs a **fetch-or-create** — returning the existing internal pin if one already exists for that target, instead of creating a duplicate. So a `POST` with the same internal resource is idempotent.
        - For purely external URLs, each POST creates a new row even if the same URL was pinned before.
        - `title` is optional; when omitted the server derives a display name from the link target.
      operationId: pinItemToProject
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - link
              properties:
                link:
                  type: string
                  format: uri
                  description: Full URL to pin. If the URL matches an internal Freelo resource, the endpoint is idempotent (see description).
                title:
                  type: string
                  description: Optional display label. If omitted, a default is derived from the target.
      responses:
        '200':
          description: Item pinned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinnedItem'

  /pinned-item/{pinned_item_id}:
    delete:
      tags:
        - Pinned Items
      summary: Delete pinned item
      description: |
        Removes a single pinned item from its project. The underlying target (task / document / file / link) is **not** affected — only the pin is deleted.

        **Use cases:**
        - Un-pinning outdated references
        - Cleanup flows after a resource was moved / renamed

        **Behavior notes:**
        - ACL: the caller must have rights to modify pinned items in the owning project (usually worker+).
        - Returns 404 if the pinned item does not exist or the caller has no access to its project.
      operationId: deletePinnedItem
      parameters:
        - name: pinned_item_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== TASKLISTS ====================
  /project/{project_id}/tasklists:
    post:
      tags:
        - Tasklists
      summary: Create tasklist in project
      description: |
        Creates a new tasklist inside the given project. The tasklist inherits project-level ACL and becomes visible to all project workers unless the tasklist's own ACL is narrowed later.

        **Use cases:**
        - Creating a new phase / milestone inside a project
        - Bulk-provisioning tasklists from an external system (imported project structure)

        **Behavior notes:**
        - Requires the caller to be a project manager or higher — otherwise `AclForbiddenException` / `RoleActionForbiddenException`.
        - `budget` is optional and uses the stringified-currency format (e.g. "100000" = 1000.00 of the project's currency).
      operationId: createTasklist
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                budget:
                  type: string
                  description: Currency amount (2 decimal places, no separator)
      responses:
        '200':
          description: Tasklist created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TasklistWithBudget'

  /all-tasklists:
    get:
      tags:
        - Tasklists
      summary: Get all tasklists (across projects)
      description: |
        Paginated list of tasklists visible to the caller, across all accessible projects. Can be filtered to a subset of projects via `projects_ids[]`.

        **Use cases:**
        - Cross-project reporting (e.g. "all tasklists touching client X")
        - Building a global tasklist picker in tooling
        - Dashboards that aggregate progress across a portfolio

        **Behavior notes:**
        - ACL is applied — tasklists the caller can't see are filtered out, even if `projects_ids[]` includes their project.
        - Default order: `date_add asc`.
      operationId: getAllTasklists
      parameters:
        - name: projects_ids[]
          in: query
          schema:
            type: array
            items:
              type: integer
        - name: order_by
          in: query
          schema:
            type: string
            enum: [name, date_add, date_edited_at]
            default: date_add
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tasklists:
                            type: array
                            items:
                              $ref: '#/components/schemas/TasklistFull'

  /project/{project_id}/tasklist/{tasklist_id}/assignable-workers:
    get:
      tags:
        - Tasklists
      summary: List users who can be assigned tasks in this tasklist
      description: |
        Returns the workers who are allowed to be set as `worker` on tasks inside this tasklist — i.e. the intersection of project membership and the tasklist's ACL (if the tasklist is ACL-restricted).

        **Use cases:**
        - Populating the assignee picker when creating / editing a task
        - Validating `worker_id` before calling `POST /tasks` or `POST /task/{id}`

        **Behavior notes:**
        - If the tasklist is NOT ACL-restricted, the result equals the project's full worker list.
        - If the tasklist IS ACL-restricted, only users explicitly granted tasklist ACL (plus the project owner/commander) appear.
      operationId: getAssignableWorkers
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - $ref: '#/components/parameters/TasklistIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserBasic'

  /tasklist/{tasklist_id}:
    get:
      tags:
        - Tasklists
      summary: Get tasklist detail
      description: |
        Returns metadata for a single tasklist — name, budget, parent project reference, and the latest `date_edited` / `date_add` audit timestamps.

        **Use cases:**
        - Opening a tasklist detail view
        - Re-fetching metadata after an edit to confirm the state
        - Reading budget for reporting purposes

        **Behavior notes:**
        - Performs both a tasklist fetch (ACL-checked) and a project fetch (ACL-checked). If the caller has no access to either, returns 404.
      operationId: getTasklist
      parameters:
        - $ref: '#/components/parameters/TasklistIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TasklistDetail'

  /tasklist/create-from-template/{template_id}:
    post:
      tags:
        - Tasklists
      summary: Copy a tasklist from a project template
      description: |
        Copies a specific tasklist from a **project template** into either a brand-new project or an existing target. Path parameter `template_id` identifies the source project template; body `tasklist_id` identifies which tasklist inside that template to copy.

        **Use cases:**
        - Re-using a standardized tasklist (e.g. "QA checklist") across projects
        - Seeding a new client project with a curated subset of blueprints

        **Behavior notes (non-obvious):**
        - Body field `tasklist_id` is **required** — it's the source tasklist's ID inside the template project referenced by path `template_id`. Mixing path + body IDs like this is deliberate.
        - If `target_project_id` is **not** provided, a new project is created as the target (copying from the template).
        - If `target_tasklist_id` is provided together with `target_project_id`, tasks are copied into that existing tasklist instead of a fresh one.
        - `preset_date_from` shifts floating due-dates relative to this date (same semantics as project template copy).
        - `users_ids` lists which template members to invite into the target — must be a subset of the template's members.
      operationId: createTasklistFromTemplate
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tasklist_id
              properties:
                tasklist_id:
                  type: integer
                  description: ID of the tasklist from template
                target_project_id:
                  type: integer
                target_tasklist_id:
                  type: integer
                preset_date_from:
                  type: string
                  format: date
                users_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Tasklist created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string

  # ==================== TASKS ====================
  /project/{project_id}/tasklist/{tasklist_id}/tasks:
    get:
      tags:
        - Tasks
      summary: Get active tasks in a tasklist
      description: |
        Returns all **active** tasks in the specified tasklist, ordered by the requested criterion. To fetch finished tasks use `GET /tasklist/{tasklist_id}/finished-tasks`.

        **Use cases:**
        - Rendering the task board for a given tasklist
        - Iterating tasks for bulk operations (assign, move, etc.)
        - Feeding integrations that mirror the task state

        **Behavior notes:**
        - Response is a flat (non-paginated) array. For very large tasklists, consider `GET /all-tasks` with filters for pagination.
        - ACL-filtered: if the tasklist is ACL-restricted and the caller has no access to it, 404.
      operationId: getTasksInTasklist
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - $ref: '#/components/parameters/TasklistIdParam'
        - name: order_by
          in: query
          schema:
            type: string
            enum: [priority, name, date_add, date_edited_at]
            default: priority
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskSummary'
    post:
      tags:
        - Tasks
      summary: Create task in tasklist
      description: |
        Creates a new task in the given tasklist. The authenticated caller becomes the task's author; `worker` defaults to a value derived from the tasklist's default-worker rules if not supplied.

        **Use cases:**
        - Creating a ticket from an integration (Sentry → Freelo, Slack → Freelo, etc.)
        - Programmatic task provisioning
        - Migrating tasks from another system

        **Behavior notes:**
        - The assignee (`worker`) must be one of the tasklist's `assignable-workers` (see that endpoint). A user outside the ACL scope results in `WorkerHasNoAccessToTasklistException` → 403.
        - `tracking_users_ids` defaults to the assignee + author if omitted (via `TaskDataDefaultTrackingUsersFiller`).
        - Creates a `task_created` event (→ webhooks, notifications, calendar sync).
      operationId: createTask
      parameters:
        - $ref: '#/components/parameters/ProjectIdParam'
        - $ref: '#/components/parameters/TasklistIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreated'

  /all-tasks:
    get:
      tags:
        - Tasks
      summary: Get all tasks (paginated, filterable)
      description: |
        Paginated global task search. Combines fulltext search (via Elasticsearch), structural filters (projects, tasklists, worker, state), label filters, and date-range filters.

        **Use cases:**
        - Primary task search / dashboard filter
        - Reporting queries ("all tasks due next week for worker X")
        - Cross-project views (e.g. "all open tasks with label blocker")

        **Behavior notes (non-obvious):**
        - `search_query` is a fulltext match on the task name through Elasticsearch — it prefilters the task set before other filters are applied; supplying only `search_query` without any `projects_ids[]` restricts across all visible projects.
        - `with_label` is a single-value legacy alias for `with_labels[]` — when both are sent, `with_label` is merged into the array (no preemption). `with_label` is deprecated; prefer `with_labels[]`.
        - `state_id` filters by task state — omit to get tasks in all states the caller can see (typically active + finished; depends on ACL).
        - `no_due_date=true` returns only tasks without a due date; combining with `due_date_range` is effectively contradictory and the range is ignored.
        - `finished_overdue=true` filters for tasks finished **after** their due date — a reporting lens for delivery SLAs.
        - `worker_id` filters by assignee only (not by tracking users).
      operationId: getAllTasks
      parameters:
        - name: search_query
          in: query
          description: Fulltext search query for the task name
          schema:
            type: string
        - name: state_id
          in: query
          description: ID of the tasks state
          schema:
            type: integer
        - name: projects_ids[]
          in: query
          description: Filter tasks by project IDs. If empty, tasks from all accessible projects are returned.
          schema:
            type: array
            items:
              type: integer
        - name: tasklists_ids[]
          in: query
          description: Filter tasks by tasklist IDs
          schema:
            type: array
            items:
              type: integer
        - name: order_by
          in: query
          schema:
            type: string
            enum: [priority, name, date_add, date_edited_at]
            default: date_add
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: with_labels[]
          in: query
          description: Filter tasks that have at least one of the specified labels (case insensitive). Can be combined with with_label.
          schema:
            type: array
            items:
              type: string
        - name: with_label
          in: query
          description: Filter tasks by a single label name (case insensitive). If with_labels[] is also provided, this value is merged into that array.
          schema:
            type: string
          deprecated: true
        - name: without_label
          in: query
          description: Exclude tasks that have the specified label (case insensitive)
          schema:
            type: string
        - name: no_due_date
          in: query
          description: Only tasks with no due date
          schema:
            type: boolean
            default: false
        - name: due_date_range[date_from]
          in: query
          description: Filter tasks with due date on or after this date
          schema:
            type: string
            format: date
        - name: due_date_range[date_to]
          in: query
          description: Filter tasks with due date on or before this date
          schema:
            type: string
            format: date
        - name: finished_overdue
          in: query
          description: Only tasks finished after due date
          schema:
            type: boolean
            default: false
        - name: finished_date_range[date_from]
          in: query
          description: Filter tasks finished on or after this date
          schema:
            type: string
            format: date
        - name: finished_date_range[date_to]
          in: query
          description: Filter tasks finished on or before this date
          schema:
            type: string
            format: date
        - name: worker_id
          in: query
          description: Filter by worker ID
          schema:
            type: integer
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tasks:
                            type: array
                            items:
                              $ref: '#/components/schemas/TaskFull'

  /tasklist/{tasklist_id}/finished-tasks:
    get:
      tags:
        - Tasks
      summary: Get finished tasks in a tasklist
      description: |
        Paginated list of **finished** (closed) tasks inside a given tasklist. Optionally narrow by a fulltext search of the task name.

        **Use cases:**
        - Archive / history view of what's been completed in a tasklist
        - Retrospective reports on delivered scope
        - Finding a specific closed task by name for reactivation

        **Behavior notes:**
        - `search_query` is an Elasticsearch-backed fulltext match on the task name; when omitted, all finished tasks in the tasklist are returned (paginated).
        - Active tasks are **not** included — use `/project/{pid}/tasklist/{tid}/tasks` for those.
      operationId: getFinishedTasks
      parameters:
        - $ref: '#/components/parameters/TasklistIdParam'
        - name: search_query
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          finished_tasks:
                            type: array
                            items:
                              $ref: '#/components/schemas/TaskFinished'

  /tasks/relations:
    post:
      tags:
        - Tasks
      summary: Find task relations in bulk
      description: |
        Returns relations for a list of tasks. Each item in the response contains the task ID
        and its relations (types: `blocked_by`, `blocks`, `related_to`, `duplicate_of`).
        Tasks the caller cannot access are silently omitted from the response.
      operationId: findTaskRelationsBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - task_ids
              properties:
                task_ids:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: integer
                  description: List of task IDs (1–100 items).
      responses:
        '200':
          description: Relations grouped by task ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        task_id:
                          type: integer
                        relations:
                          type: array
                          items:
                            $ref: '#/components/schemas/TaskRelation'
        '400':
          description: Invalid request body

  /task/{task_id}:
    get:
      tags:
        - Tasks
      summary: Get task detail
      description: |
        Returns full task detail — metadata, labels, worker, tracking users, due dates, subtasks count, time estimates, custom field values, and (for non-commanders) computed spent minutes and cost.

        **Use cases:**
        - Opening a task in the UI
        - Fetching every detail before an edit (for diffing)
        - Pulling full context for AI / reporting pipelines

        **Behavior notes (non-obvious):**
        - For multi-project tasks, the response contains a `multi_project_task` block mapping the task across its projects and may expose a `parent_task_id` if this is a subtask linked to a multi-project parent.
        - Spent minutes (`minutes`) and `cost.amount` are only included when the caller is **not** a project commander (commanders see account-wide billing elsewhere).
        - Labels include labels inherited from a multi-project parent.
        - `copied_from_task` references the origin task if the task was created from a template or as a multi-project copy.
      operationId: getTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetail'
    post:
      tags:
        - Tasks
      summary: Edit task (partial update)
      description: |
        Partially updates a task. Only the fields listed below are editable through this endpoint — any other key in the body is **silently ignored** (the facade uses `array_intersect_key` against a fixed whitelist).

        **Editable fields:** `name`, `worker`, `due_date`, `due_date_end`, `labels`, `priority_enum`, `tracking_users_ids`, `add_tracking_users_ids`, `remove_tracking_users_ids`.

        **Use cases:**
        - Reassigning a task
        - Changing priority / due date
        - Renaming or relabeling from an integration
        - Adjusting tracking users (add / remove / replace)

        **Behavior notes (non-obvious):**
        - **`worker_id` accepted as alias for `worker`:** the facade contains a make.com-compatibility HACK — if the body has `worker_id`, it is copied into `worker`. This is undocumented elsewhere but is the same field.
        - **Tracking users have three mutually-exclusive update shapes:**
          - `tracking_users_ids` **replaces** the full set (pass `[]` to clear all).
          - `add_tracking_users_ids` **merges** the given IDs into the current set.
          - `remove_tracking_users_ids` **removes** the given IDs from the current set.
          Mixing `tracking_users_ids` (replace) with add/remove in one call is accepted but the final state is determined by the facade's order of operations — keep it to one shape per call to be deterministic.
        - **Labels must reference existing labels or be fully-formed new label DTOs** — the behavior matches the task-labels add-to-task semantics.
        - The endpoint responds with the task's full detail (same shape as `GET /task/{id}`).
        - Note the HTTP method: `POST` is used for edits here (historical REST shape), not `PUT`/`PATCH`.
      operationId: editTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                due_date:
                  type: string
                  format: date-time
                due_date_end:
                  type: string
                  format: date-time
                worker:
                  type: integer
                priority_enum:
                  type: string
                  enum: [l, m, h]
                  nullable: true
                  description: Allowed options are l, m, h. Set to null to remove priority.
                tracking_users_ids:
                  type: array
                  nullable: true
                  description: Set (replace) all tracking users. Pass an empty array to remove all.
                  items:
                    type: integer
                add_tracking_users_ids:
                  type: array
                  description: Add tracking users by user ID (merged with existing).
                  items:
                    type: integer
                remove_tracking_users_ids:
                  type: array
                  description: Remove tracking users by user ID.
                  items:
                    type: integer
      responses:
        '200':
          description: Task updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetail'
    delete:
      tags:
        - Tasks
      summary: Delete task (soft-delete)
      description: |
        Soft-deletes a task. It disappears from listings and cannot be reactivated via `/activate` (activation only un-finishes a finished task, it does **not** undelete).

        **Use cases:**
        - Removing spam / mistaken tasks
        - Cleaning up a noisy tasklist

        **Behavior notes:**
        - Cascades to subtasks (they are also hidden).
        - Emits `task_deleted` event — webhooks and notifications fire.
        - Requires delete permission (owner / commander / author, per role rules).
      operationId: deleteTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/{task_id}/activate:
    post:
      tags:
        - Tasks
      summary: Reopen a finished task
      description: |
        Moves a task from the **finished** state back to **active**. Use to reverse a `finish` operation.

        **Use cases:**
        - Reopening a task that was closed prematurely
        - Reverting an incorrect "finish" action triggered by an integration

        **Behavior notes (non-obvious):**
        - Only works on finished tasks. On an active task, returns 200 without changes. On a **deleted** task, returns 404 (this endpoint does **not** un-delete — it's not symmetric with the project activate endpoint).
        - Emits `task_activated` event / webhooks.
      operationId: activateTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/{task_id}/finish:
    post:
      tags:
        - Tasks
      summary: Mark task as finished
      description: |
        Closes a task — moves it to the **finished** state.

        **Use cases:**
        - Closing a task via an integration (e.g. Zapier "when ticket closed → finish Freelo task")
        - Bulk-closing tasks after a release

        **Behavior notes:**
        - Any running timetracking **on this specific task** is stopped as part of the finish flow.
        - Emits `task_finished` event / webhooks.
        - Requires the caller to be the assignee, author, or a project manager (Role rules). Otherwise `RoleActionForbiddenException` → 403.
      operationId: finishTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/{task_id}/move/{tasklist_id}:
    post:
      tags:
        - Tasks
      summary: Move task to another tasklist (optionally cross-project)
      description: |
        Moves a task into a different tasklist. Target tasklist may belong to the same or a different project.

        **Use cases:**
        - Re-phasing a task (moving from "Backlog" to "In progress" tasklist)
        - Escalating a task between projects (e.g. support → engineering)
        - Re-organizing multi-project tasks

        **Behavior notes (non-obvious):**
        - For **multi-project tasks**, the optional body field `multi_project_task.source_tasklist_id` picks which project-instance to move. When omitted (or set to the primary task's own tasklist), the cross-project move flow runs and applies `work_reports_action` / `custom_fields_action` rules. When it points to a **child task's** tasklist, only that child is moved within its own project, and `work_reports_action` / `custom_fields_action` are **ignored**.
        - `work_reports_action` decides what happens to existing work reports on cross-project moves: `move_to_target_project` (default) rebinds them, `keep_on_origin_project` leaves them tied to the origin.
        - `custom_fields_action` controls custom-field-value handling when the target project does not have the same custom fields — destructive options (`delete_*`) lose data; `move_to_comments_*` preserves it as a comment.
        - Required field on multi-project: if the caller has no ACL on the source tasklist's project, 403.
      operationId: moveTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
        - $ref: '#/components/parameters/TasklistIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                work_reports_action:
                  type: string
                  enum: [move_to_target_project, keep_on_origin_project]
                  default: move_to_target_project
                custom_fields_action:
                  type: string
                  enum: [nothing, delete_what_cant_be_keep, move_to_comments_what_cant_be_keep, delete_all, move_to_comments_all]
                  default: nothing
                multi_project_task:
                  type: object
                  description: Optional multi-project task context for moving a specific project instance
                  properties:
                    source_tasklist_id:
                      type: integer
                      description: ID of the source tasklist identifying which project instance to move
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/{task_id}/projects:
    post:
      tags:
        - Tasks
      summary: Assign task to an additional project (make it multi-project)
      description: |
        Promotes a single-project task into a multi-project task (UVVP) by creating a **child task** in another project, linked to the same logical parent.

        **Use cases:**
        - Sharing a ticket across departments (e.g. one ticket visible in Sales and Engineering projects)
        - Cross-team visibility for long-running initiatives

        **Behavior notes:**
        - Target project is **derived from the `tasklist_id`** — you pass the tasklist, not the project. The target tasklist must belong to a project the caller has access to, otherwise 403.
        - Subsequent content (comments, worker) operations on the parent and child task may diverge depending on the multi-project architecture (see project docs `docs/feature/multi-project-tasks.md`).
      operationId: assignTaskToProject
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tasklist_id
              properties:
                tasklist_id:
                  type: integer
                  description: Target tasklist ID (the project is derived from it)
      responses:
        '200':
          description: Task assigned to project
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    type: object
                    properties:
                      id:
                        type: integer
                      uuid:
                        type: string
        '403':
          description: Forbidden
        '404':
          description: Task or tasklist not found

  /task/{task_id}/relations:
    get:
      tags:
        - Tasks
      summary: Get task relations
      description: |
        Returns all relations for a task (types: `blocked_by`, `blocks`, `related_to`, `duplicate_of`).
        Relations to tasks the caller cannot access are filtered out.
      operationId: getTaskRelations
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Task relations
          content:
            application/json:
              schema:
                type: object
                properties:
                  relations:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskRelation'
        '403':
          description: Forbidden
        '404':
          description: Task not found

  /task/{task_id}/projects/{project_id}:
    delete:
      tags:
        - Tasks
      summary: Remove task from a secondary project
      description: |
        Reverses a prior "assign to project" call by deleting the child task that belonged to the specified secondary project. The primary task continues to exist.

        **Use cases:**
        - Revoking cross-team visibility once a handoff is done
        - Cleanup after an accidental multi-project assignment

        **Behavior notes:**
        - Attempting to remove a task from its **primary** project (the one where it was originally created) is not allowed — that requires `DELETE /task/{task_id}` instead. The endpoint returns 403 `AclException` in that case.
        - Returns 404 if the task is not present in the given project at all.
      operationId: removeTaskFromProject
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
        - $ref: '#/components/parameters/ProjectIdParam'
      responses:
        '200':
          description: Task removed from project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          description: Forbidden
        '404':
          description: Task or project not found

  /task/{task_id}/description:
    get:
      tags:
        - Tasks
      summary: Get task description
      description: |
        Returns the task's description — the first "pinned" comment that serves as the canonical rich-text body of the task.

        **Use cases:**
        - Loading the long-form body in a task detail view
        - Extracting the description for reporting or AI summarization

        **Behavior notes:**
        - If the task has no description yet, the response is still 200 but fields may be empty / null — use the edit endpoint to create one.
      operationId: getTaskDescription
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
    post:
      tags:
        - Tasks
      summary: Create or overwrite task description (upsert)
      description: |
        Creates the task description if none exists, or **overwrites** the existing one — there is no "append" or "history" behavior. File attachments given in `files` are attached to the description comment.

        **Use cases:**
        - Filling a task body from a ticketing integration
        - Editing the task's main description in a UI
        - Attaching files that belong to the task body (not to a separate comment)

        **Behavior notes (non-obvious):**
        - Upsert semantics: first call creates, subsequent call **replaces** the content entirely. Any previous content is lost — not stored in history.
        - `files` expects already-uploaded file UUIDs (see `POST /file/upload`).
      operationId: editTaskDescription
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                files:
                  type: array
                  items:
                    $ref: '#/components/schemas/FileUpload'
      responses:
        '200':
          description: Description updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'

  /task/{task_id}/reminder:
    post:
      tags:
        - Tasks
      summary: Set reminder on task (for caller)
      description: |
        Schedules a **personal** reminder for the calling user on a specific task. The reminder fires a notification to the caller at `remind_at`.

        **Use cases:**
        - "Ping me about this task at 9 AM tomorrow"
        - Snoozing a task for later follow-up

        **Behavior notes (non-obvious):**
        - Reminders are **per-user** — this endpoint sets a reminder for the caller only. Other tracking users are not affected.
        - Calling this endpoint on a task that already has a reminder by the caller **overwrites** the existing `remind_at` (upsert behavior).
        - `remind_at` is expected in ISO 8601; the server normalizes it internally.
      operationId: createTaskReminder
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - remind_at
              properties:
                remind_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Reminder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  remind_at:
                    type: string
                    format: date-time
                  task:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
    delete:
      tags:
        - Tasks
      summary: Clear caller's task reminder
      description: |
        Removes the calling user's personal reminder for the given task.

        **Behavior notes:**
        - Only the caller's own reminder is deleted — reminders set by other users are unaffected.
        - Idempotent: calling with no reminder present returns 200.
      operationId: deleteTaskReminder
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /public-link/task/{task_id}:
    get:
      tags:
        - Tasks
      summary: Get (or create) a public share link for a task
      description: |
        Returns a public, unauthenticated URL that lets anyone with the link view the task. If no public link exists yet, one is **created on-the-fly** and returned.

        **Use cases:**
        - Sharing a task with a client who has no Freelo account
        - Embedding a shareable link in a status update

        **Behavior notes (non-obvious):**
        - This is a **GET that creates** — first call to this endpoint creates the link; subsequent calls return the same URL. To invalidate, use `DELETE /public-link/task/{task_id}`.
        - The URL exposes the task's content read-only to anyone holding it. Rotating is done by DELETE + GET (creates a new URL).
      operationId: getPublicLinkToTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
    delete:
      tags:
        - Tasks
      summary: Revoke public share link for a task
      description: |
        Deletes the task's public link, immediately invalidating any previously shared URL.

        **Use cases:**
        - Rotating a compromised link
        - Ending external sharing when a client engagement ends
      operationId: deletePublicLinkToTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/create-from-template/{template_id}:
    post:
      tags:
        - Tasks
      summary: Create task by copying from a template task
      description: |
        Copies a single task out of a project template into a target tasklist. Mirrors the structure of the tasklist / project template copy endpoints.

        **Use cases:**
        - Adding a standard boilerplate task (e.g. "Kickoff checklist") to an existing project
        - Cloning a canonical bug-report template

        **Behavior notes (non-obvious):**
        - Body field `task_id` is **required** — it identifies the source task inside the template referenced by path `template_id`.
        - If `target_tasklist_id` is omitted, the copied task lands in the **same tasklist ID** it had in the template — which only works if `target_project_id` (or an auto-created project) has a tasklist with that ID. Safer to always pass both.
        - `preset_date_from` shifts floating due-dates (same as other template endpoints).
        - `users_ids` is a list of template members to invite into the destination.
      operationId: createTaskFromTemplate
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - task_id
              properties:
                task_id:
                  type: integer
                  description: ID of the task from template
                target_project_id:
                  type: integer
                target_tasklist_id:
                  type: integer
                preset_date_from:
                  type: string
                  format: date
                users_ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  tasklist:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string

  /task/{task_id}/total-time-estimate:
    post:
      tags:
        - Tasks
      summary: Create or update the task's total time estimate (upsert)
      description: |
        Sets the total expected effort for a task (aggregated across the team). If a total estimate already exists, it is **updated**; otherwise a new one is created.

        **Use cases:**
        - Capturing the team-wide effort budget for capacity planning
        - Refreshing an estimate after re-scoping

        **Behavior notes:**
        - Upsert semantics (`TimeEstimateFacade::createOrUpdate`). Calling this endpoint multiple times is safe.
        - Per-user estimates are managed separately via `/task/{id}/users-time-estimates/{user_id}` — the total is not automatically derived from per-user sums.
      operationId: setTotalTimeEstimate
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - minutes
              properties:
                minutes:
                  type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags:
        - Tasks
      summary: Remove the task's total time estimate
      description: |
        Clears the total time estimate for the task.

        **Behavior notes:**
        - Per-user estimates are **not** removed by this call — delete them separately.
        - Idempotent: calling on a task without an estimate returns 200.
      operationId: deleteTotalTimeEstimate
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task/{task_id}/users-time-estimates/{user_id}:
    post:
      tags:
        - Tasks
      summary: Set per-user time estimate on a task (upsert)
      description: |
        Upserts a **per-user** time estimate — how much effort the given `user_id` is expected to spend on this task.

        **Use cases:**
        - Project-manager capacity planning (assigning hours to each teammate)
        - Feeding a billing estimate where each worker has a different rate

        **Behavior notes:**
        - Upsert semantics (`TimeEstimateUserFacade::createOrUpdate`).
        - Does **not** automatically update the total time estimate — manage totals separately via `/task/{id}/total-time-estimate`.
        - The `user_id` must be an assignable worker of the task's tasklist; otherwise 403 / 404 depending on ACL.
      operationId: setUserTimeEstimate
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - minutes
              properties:
                minutes:
                  type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags:
        - Tasks
      summary: Remove per-user time estimate
      description: |
        Clears the per-user time estimate of the given user on this task.

        **Behavior notes:**
        - The task's total estimate is unaffected.
        - Idempotent: calling on a missing estimate returns 200.
      operationId: deleteUserTimeEstimate
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ==================== SUBTASKS ====================
  /task/{task_id}/subtasks:
    get:
      tags:
        - Subtasks
      summary: Get subtasks (taskchecks) of a task
      description: |
        Paginated list of subtasks ("taskchecks") under the given task. Subtasks come in two flavors — **smart taskchecks** (full tasks with their own worker, due date, comments) and **simple taskchecks** (checklist items with just a label). The response represents both uniformly.

        **Use cases:**
        - Rendering the subtask checklist inside a task view
        - Iterating subtasks for completion reporting

        **Behavior notes:**
        - Use the `states_ids[]` filter (if supported by the schema) to narrow by active / finished subtasks.
        - Subtasks returned are ACL-filtered by the parent task's tasklist rules.
      operationId: getSubtasksInTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          subtasks:
                            type: array
                            items:
                              $ref: '#/components/schemas/Subtask'
    post:
      tags:
        - Subtasks
      summary: Create subtask (smart or simple, auto-fallback)
      description: |
        Creates a subtask under the given task. The endpoint automatically picks the best representation.

        **Behavior notes (non-obvious):**
        - The server first attempts to create a **smart taskcheck** — a full-featured subtask with worker, due date, tracking users, etc.
        - If the parent task is not eligible for smart taskchecks (e.g. it's a multi-project parent, or a nested smart taskcheck), the code catches `SmartTaskcheckCanNotBeCreatedException` and silently falls back to creating a **simple taskcheck** (a checkbox item with just a name). The body you sent may be partially discarded in that case — extra fields like `worker`, `due_date`, `tracking_users_ids` are ignored for simple taskchecks.
        - `tracking_users_ids` is **ACL-filtered** — user IDs without access to the parent task's tasklist are silently removed from the set via `ITrackingUsersIdsPrepender::prependWithAcl()`.
        - If you need deterministic smart-taskcheck creation, verify the parent task's eligibility first (e.g. make sure it's not already a taskcheck itself).
      operationId: createSubtask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubtaskCreate'
      responses:
        '200':
          description: Subtask created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subtask'

  # ==================== TASK LABELS ====================
  /task-labels:
    post:
      tags:
        - Task Labels
      summary: Bulk-create task labels in the caller's workspace
      description: |
        Creates task-label definitions (not assignments). Use this before `/task-labels/add-to-task/{taskId}` when you want to provision a set of labels upfront.

        **Use cases:**
        - Seeding a shared label palette during onboarding
        - Importing labels from another system

        **Behavior notes (non-obvious):**
        - This is a **fetch-or-create** — labels with an existing matching name are **re-used**, not duplicated. The endpoint only creates those that don't already exist.
        - The label is scoped to the caller's account and available across their accessible projects via the "task-labels-used" relation.
        - If the caller has **no projects at all**, the "used" relation is silently skipped (no `NoProjectsException` bubbles up to the caller).
        - The response does not explicitly report which labels were new vs. reused — query `/project-labels/find-available` or the task detail to verify.
      operationId: createTaskLabels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                labels:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
      responses:
        '200':
          description: Labels created

  /task-labels/add-to-task/{task_id}:
    post:
      tags:
        - Task Labels
      summary: Attach labels to task (UUID or name+color)
      description: |
        Assigns one or more task labels to the given task. Labels can be addressed by UUID (existing) or by name/color (fetch-or-create).

        **Two input modes per label:**
        1. **UUID only** — assigns an existing label by UUID as-is.
        2. **Name-based** — provide `name` (required), optionally `color` and `uuid`. If `color` is omitted it defaults to `#77787a` (gray). If `uuid` is omitted it is auto-generated. An existing label is **reused when both name AND color match**; otherwise a new label is created.

        **Use cases:**
        - Tagging a task with a known label from the palette (UUID mode — reliable, no ambiguity)
        - Quick-labeling by name from an integration without pre-creating labels (name mode — fetch-or-create)

        **Behavior notes (non-obvious):**
        - Name+color matching is **case-sensitive**. `"bug"` and `"Bug"` are different labels.
        - If you pass a UUID that doesn't match any existing label, `CannotCreateWithProvidedUuidException` is thrown.
        - When labels are actually added (vs. already present), a `task_labels_change` event is emitted (→ webhooks, audit log).
        - Calling with an empty array short-circuits — no event, no ACL check, 200 response.
        - Bad colors return 400 with `Unsupported color (X) provided.` using the server's color enum.
      operationId: addTaskLabelsToTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - labels
              properties:
                labels:
                  type: array
                  items:
                    $ref: '#/components/schemas/TaskLabelAddInput'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /task-labels/remove-from-task/{task_id}:
    post:
      tags:
        - Task Labels
      summary: Detach labels from task
      description: |
[...]
